

  <!-- Footer -->

  <footer class="grey-box">
    <div class="container-fluid copyright-strip">

      <p>Copyright &copy; Natasha Ramsden {{current_year}}</p>
      <p>Built from scratch - Check out the code on <a href="https://github.com/tashramsden/Tash_Ramsden" target="_blank" rel="noopener noreferrer" style="color: #a9bf04">GitHub</a> - I'm happy to hear feedback!</p>

    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!--  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>-->
  <!--  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>-->

  <!-- Custom scripts for this template -->
  <!--  <script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>-->

</body>

</html>
