{% include "header.html" %}

  <!-- Title -->

  <section id="title">
    <div class="container">

      <div class="green-circle title-circle">
        <h1 class="main-title">I'm Tash</h1>
        <h4>a student of quantitative ecology</h4>
      </div>

    </div>
  </section>

  <!-- About/welcome -->

  <section id="welcome" class="grey-box">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6 welcome-text">
          <h3 class="white-heading">Hi there</h3>
          <p>My primary areas of interest are in the fields of ecology and
            evolution. Increasingly, I am interested in the application of
            computational methods to understand our natural world. <br><br>
            Having studied Natural Sciences at undergraduate level, I have an
            interdisciplinary approach to problem solving. I am looking
            forwards to beginning a master's degree at Imperial College London
            in Computational Methods in Ecology and Evolution this year. <br><br>
          </p>
        </div>
        <div class="col-lg-6 welcome-pic">
            <img src="{{url_for('static', filename='images/profilepic.JPG')}}" alt="tash-profile" id="profile-pic">
        </div>
      </div>

    </div>
  </section>

  <!-- Contents/info/cv+portfolio -->

  <section id="info">
    <div class="container-fluid">

      <div class="row info">

        <div class="col-lg-6 show-cv-above">
          <div class="grey-box bubble info-block">
            <div class="green-circle info-circle">
              <h2 class="bubble-text cv white-heading">My CV</h2>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="white-box info-block">
            <h3 class="grey-title">Ecology</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam
              tempor orci eu lobortis. Tincidunt lobortis feugiat vivamus at augue
              eget arcu dictum varius. Leo a diam sollicitudin tempor.</p>
          </div>
        </div>

        <div class="col-lg-6 show-cv-below">
          <div class="grey-box bubble info-block">
            <div class="green-circle info-circle">
              <h2 class="bubble-text cv white-heading">My CV</h2>
            </div>
          </div>
        </div>

      </div>

      <div class="row info lower-info">

        <div class="col-lg-6">
          <div class="white-box info-block">
            <h3 class="grey-title">Data Science</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam
              tempor orci eu lobortis. Tincidunt lobortis feugiat vivamus at augue
              eget arcu dictum varius. Leo a diam sollicitudin tempor.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="grey-box bubble info-block">
            <div class="green-circle info-circle">
              <h2 class="bubble-text portfolio white-heading">Portfolio</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Contact me -->

<!--  <section id="contact">-->
<!--    <div class="container-fluid">-->

<!--      <div class="green-circle contact-circle">-->
<!--        <h2 class="contact-title">Contact Me</h2>-->
<!--        <div class="contact-text">-->
<!--          <p>natasha.ramsden18@gmail.com</p>-->
<!--          <p><a href="https://www.linkedin.com/in/natasha-ramsden-4b50b3169/">LinkedIn</a></p>-->
<!--          <p><a href="https://github.com/tashramsden">GitHub</a></p>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </section>-->

<div id="f1_container">
<div id="f1_card">
  <div class="front face">
            <div class="green-circle contact-circle shadow">
          <h2 class="contact-title hide">Contact Me</h2>
        </div>
  </div>
  <div class="back face center">
    <div class="green-circle contact-circle shadow">
<div class="contact-text">
          <p>natasha.ramsden18@gmail.com</p>
          <p><a href="https://www.linkedin.com/in/natasha-ramsden-4b50b3169/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
          <p><a href="https://github.com/tashramsden" target="_blank" rel="noopener noreferrer">GitHub</a></p>
        </div>        </div>
  </div>
</div>
</div>

{% include "footer.html" %}
